body {
    background-image: url("bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    background-position: fixed;
}

h1 {
    text-align: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom:-10px;
}

h2 {
    color: black;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-align: center;
    color:black;
    font-style: normal;
    font-weight: bold;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top:15px;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tbody {
  display: block;
  height: 400px;   
  width: 100%;   
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns {
    column-count: 2;
    column-gap: 80px;
    column-rule-style: solid;
    column-rule-width: 3px;
    column-rule-color: black;
    column-fill: balance;
    column-width: 100px;
    margin-top: 30px;
    margin-right: 150px;  
}

.admincolumns {
  column-count: 2;
  column-gap: 80px;
  column-rule-style: solid;
  column-rule-width: 3px;
  column-rule-color: black;
  column-fill: balance;
  margin-top: 30px;
}

.space {
    break-inside: avoid-column;
}

/* Lowers the 2nd column's content to align with the top of the 1st's */
.space:nth-of-type(2){
    break-after:column;
    display:block;
}

.order {
  text-align: right;
}

.queue {
  text-align: left;
}

.adminqueue {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
}


.instructions {
  text-align: center;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}

.submit {
  margin-top: 30px;
}

.title {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.loginPanel {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.adminmenu {
  text-align: left;
}

.subtitle {
  margin-top: 10px;
}

.password {
  margin-top: 20px;
}

#loginFixed {
  position: fixed;
  top: 30px;
  right: 30px;
}

#login {
  margin-top: 15px;
}

#kioskFixed {
  position: fixed;
  top: 30px;
  right: 30px;
}

#logoutFixed {
  position: fixed;
  top: 30px;
  right: 30px;
}

#refresh {
  margin-top: 15px;
}